#wrapper {
    font-style: italic;
    width: 400px;
    background-color:#FFC6CF;
    padding: 0px 0px 10px 10px;
}

h1 {
    text-align: center;
}

#left {
    width: 200px;
    float: left;
}

#right {
    width: 200px;
    float: left;
}

select, input {
    width:190px;
}
.timeInput {
    width: 90px;
}

.numbersDiv {
    width: 55px;
    float: left;
    margin-right: 10px;
}

.numbersInput {
    width: 55px;
}

#btnSearch {
    height:25px;
    margin-top: 5px;
}

.clear {
    clear:both;
}